        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">It's Nice to Meet You! 
                </h3>
                <p>We are a small team of 4 people learning programming and passionate about music. A few weeks ago we started Dev Bootcamp in San Francisco, a 19-week coding bootcamp. Back then code didn't mean anything to us, it was hard, but it paid off with this app that we are so proud of.</p>
                <p>Crowdj is a way to share and enjoy music with your friends. Start or join a playlist, build it together track by track and reshuffle its sequence as you up/down vote them. Abc easy as 123!</p>
            </div>
        </div>
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-5 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://i.imgur.com/4WYv0oa.jpg" alt="Gael Bergeron" height="200" width="200">
                <h3>Gael Bergeron
                    <small>Team lead</small>
                </h3>
                <p>Team lead is overrated for Gael, he spends most of its days merging pull requests and pretending to help with actual coding.</p>
            </div>
            <div class="col-lg-5 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://i.imgur.com/FaizU3y.jpg" alt="Allessandra Caroline" height="200" width="200">
                <h3>Alessandra
                    <small>Team brain</small>
                </h3>
                <p>As a true german, Alessandra is an outstanding engineer. Credited with making websocket work on Rails, she is our brain.</p>
            </div>
            <div class="col-lg-5 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://i.imgur.com/W09SRJ8.jpg" alt="Scott Stern" height="200" width="200">
                <h3>Scott Stern
                    <small>Team ninja</small>
                </h3>
                <p>Ninja is a perfect description for Scott who will fearlessly tackle any coding challenge. The world feels empty when he is not around.</p>
            </div>
            <div class="col-lg-5 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://i.imgur.com/a66HjmC.jpg" alt="Lisa Swanson" height="200" width="200">
                <h3>Lisa Swanson
                    <small>Team visionary</small>
                </h3>
                <p>Lisa's attention to details is what took Crowdj too a (nearly) professional grade application, always looking for better ways to do things!</p>
            </div>

        </div>