/*	Global reset   */

/*body, html{
	height: 100%;
	margin: auto 0;
}*/

/**{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}*/

/*	App flex container	*/

/*#container{
	height:100%;
	background-color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	font: bold 15px sans-serif;
	overflow: hidden;
}*/


/*---------------------------
	Player Control Bar
----------------------------*/










