#vote-error{
  color:#ff4c4c;
  margin-left: 0em;
  margin-top: -0.7em;

  }

  #login-vote-error{
    color:#ff4c4c;
    margin-top: -1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }

  @media(max-width: 500px){
    #vote-error{
      margin-left: 0.1em;
      margin-top: -0.5em;
    }
  }