<div class='trackpick'>
  <img src="<%= trackpick.track.artwork_url %>"></img>
  <br>
  <audio controls>
    <source src=<%= trackpick.track.track_url + "?client_id=" + ENV["CLIENT_ID"] %> type="audio/ogg">
  </audio>
  <p>
    <%= trackpick.track.title %>
  </p>
  <p>
    Added on <%= trackpick.created_at.strftime("%F") %>
  </p>
</div>