<div id='current_playlist'>
  <div class="current_playlist" id='<%= @playlist.id %>'>
    <% @trackpicks.each do |trackpick| %>
      <%= render partial: '/playlists/show_track', locals: {trackpick: trackpick} %>
    <% end %>
  </div>
</div>