<%= form_for :search, url: results_playlist_path, method: "post" do |f| %>
  <p>
    <%= f.text_field :name, :id => 'search-field' %>
  </p>
  <p>
    <%= f.submit :id => 'submit-search' %>
  </p>
<% end %>