<%= form_for :trackpick, url: playlist_trackpicks_path, method: "post" do |f| %>
  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.hidden_field :value => 1 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>